@use "variables";


// Font styles
h1,
h2 {
    font-family: variables.$text-heading;
    font-weight: 400;
}  

h3,
a,
button {
    font-family: variables.$text-semibold; 
    font-weight: 600;
}

p,
legend,
input {
    font-family: variables.$text-light;
    font-weight: 300;
}

// Font size

h1 {
    font-size: 12rem;
    line-height: 11.7rem;
}

h2 {
    font-size: 5.1rem;
}

h3 {
    font-size: 3.5rem;
}

p,
legend,
input {
    font-size: 2rem;
    line-height: 2.9rem;
}

a,
button {
    font-size: 2.2rem;
    line-height: 2.9rem;
}

// Font design

h1,
h2,
h3,
a,
button {
    text-transform: uppercase;
}

h1,
h2,
h3,
p,
a,
legend,
button {
    color: variables.$color-white;
}
