.rel-container {
    position: relative;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.section-padding {
    padding: 10rem 0;
}

.block-span {
    display: block;
}

// Media queries

@media (max-width: 1020px) {
    .section-padding {
        padding: 7rem 0;
    }   
}