// Site colours

$color-primary-dark: #152D20;
$color-primary-light: #C3D3CB;
$color-black: #000000;
$color-white: #FCFCFC;

// Fonts

$text-heading: 'Fredericka the Great', cursive;
$text-semibold: 'Cormorant Garamond', serif;
$text-light: 'Roboto', sans-serif;