@use "../abstracts/variables";

article {
    display: flex;
    transition: .5s;
    background-color: variables.$color-white;
    
    .half-container {
            width: 50%;
            order: 1;   
            
            &-text {
                padding: 5%;
                justify-content: space-between;
                
                h2, 
                p {
                    color: variables.$color-primary-dark;
                }

                p {
                    margin: variables.$text-margin-small;
                }

                a {
                    @include variables.button-styles(variables.$color-primary-dark, 20px, 40%);
                    transition: .5s;

                    &:hover,
                    &:focus,
                    &:active {
                        @include variables.button-hover(variables.$color-black, variables.$color-white);
                    }
                }
            }
            
            &.flipped {
                order: 2; 
            }
        }       
        
    // &:hover,
    // &:focus-within {
    //     background-color: variables.$color-white;
    // }         
}

// Media queries

@media (max-width: 1346px) {
    article .half-container-text {
        padding: 2%;
    }
}

@media (max-width: 1165px) {
    article {
        display: flex; 
        flex-direction: column;

        .half-container {
            width: 100%;

            &:first-child {
                height: 50vh;
                min-height: 400px;
            }

            &-text {
                width: 90%;
                margin: 5% auto;  
            }

            &.flipped {
                order: 1;
            } 
        }
    }
}

@media (max-width: 707px) {

    .half-container {
        h2 {
            font-size: 4rem;
        }

        &-text {
            text-align: center;
            align-items: center;
        }
    }
}

@media (max-width: 500px) {

    .half-container h2 {
        font-size: 3.5rem;
    }
    
    article .half-container-text a {
        width: 60%;
    }
}