@use "../variables";

.gallery {
    background-color: variables.$color-primary-light;

    h2 {
        color: variables.$color-primary-dark;
        text-align: center;
        margin-bottom: 50px;

        span {
            display: block;
        }
    }

    &-container {
        display: flex;

        li:not(:last-child) {
            margin-right: 40px;
        }
    }
}

