@use "../variables";

header {
    background-image: url(../animal-land-assets/image-1.jpg);
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    background-repeat: no-repeat;
}

h1 {
    align-self: flex-end;
    position: absolute;
    top: 20%;
    right: 5%;
}

.header-nav {

    @include variables.flex-space-between;
    min-height: 100vh;
    width: 100%;
    margin: 2rem 0;

    &-top {
        width: 40%;
        @include variables.flex-space-between;
    }

    a {
        padding: 2rem;
        transition: all .4s;

        &:hover,
        &:focus {
            @include variables.anchor-text-hover;
        }
    }
} 

// Header Socials Navigation

.header-socials {
    align-self: flex-end;

    ul {
        margin-right: -10px;
        margin-bottom: 40px;
        
        li {
            margin: 15px;
            transition: .3s;

            &:hover,
            &:focus-within {
                transform: scale(1.6);
            }
            
            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                padding: 15px; 
            }
        }

    }
}