@use "../variables";

header {
    background-image: url(../animal-land-assets/image-1.jpg);
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    background-repeat: no-repeat;
}

h1 {
    align-self: flex-end;
    margin: 13rem 0;
}

.header-nav {

    ul {
        @include variables.flex-space-between;
        width: 33%;
        margin: 2rem 0;

        a {
            padding: 2rem;
            transition: all .4s;

            // @include variables.anchor-text-hover;

            &:hover,
            &:focus {
                @include variables.anchor-text-hover;
            }
        }
    }
}

// Header Socials Navigation

.header-socials {

    ul {
        align-items: flex-end;
        
        li {
            margin: 1.5rem 2.5% 1.5rem 0;
            transition: .3s;

            &:hover,
            &:focus-within {
                transform: scale(1.6);
            }
            
            a {
                width: 3rem;
                height: 3rem;
                padding: 1.5rem;
            }
        }

    }
}