@use "../variables";

.additional-pages {
    background-color: variables.$color-primary-dark;

    &-nav ul {
        display: flex;
        justify-content: space-around;

        li {
            width: 30%;
            padding: 10px;
            text-align: center;
            transition: .3s;

            &:hover,
            &:focus-within {
                transform: scale(1.2);
            }

            a {
                font-size: 3.5rem;
                line-height: 1.1;

            }
        }


        svg {
            display: block;
            margin: variables.$text-margin-small;
            height: 80px;
            width: 100%;
        }
    }
}

//Media queries

@media (max-width: 1018px) {
    .additional-pages-nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            margin: 10px 0;
            width: 50%;
        
            a {
                font-size: 3rem;
            }
        }
    }
}