@use "../variables";

.stories {
    background-color: variables.$color-primary-dark;
    
    &-container {
        display: flex;
        }
    
    &-img {
            width: calc(35% - 100px);
            margin-right: 100px;
        }
    
    &-text {
            width: calc(65% - 100px);
            @include variables.flex-space-between;
            flex-direction: column;
        }
        
        p {
            margin: variables.$text-margin-small;
        }

        a {
            @include variables.button-styles(variables.$color-white, 15px, 30%);
            color: variables.$color-primary-dark;
            transition: .3s;

            &:hover,
            &:focus {
                @include variables.button-hover(variables.$color-black, variables.$color-white);
            }
        }
}

